.conteudo {
    float: left;
    width: 100%;
    // position: relative;
    // padding-left: 46px;
    // min-height: 100vh;   
    background: transparent 0% 0% no-repeat padding-box;
    // border-radius: 24px 0px 0px 24px;
    // overflow: auto;
    opacity: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .all-view-height {
    height: 100vh;
  }

  .d-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .controle-padding{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 24px;
  }

  .no-padding{
    padding:0;
  }
  
  @media (max-width: 1080px) {
    .controle-padding {
    padding-left: 16px;
    padding-right: 16px;
    }
  }
  