<mat-card class="main-card">
  <mat-card-title>
    Criar funcionario
  </mat-card-title>
  <form action="">
    <mat-form-field>
      <input matInput placeholder="Nome" [(ngModel)]="funcionario.nome" name="nome">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Username" [(ngModel)]="funcionario.username" name="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Senha" [(ngModel)]="funcionario.senha" name="senha">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Repetir senha" [(ngModel)]="senhaRepetida" name="senharepetir">
    </mat-form-field>
  </form>
  <div>
    <button mat-raised-button (click)="criarFuncionario()" color="primary">
      Salvar
    </button>

    <button mat-raised-button (click)="cancel()" color="warn">
      Cancelar
    </button>
  </div>

</mat-card>