<app-container-conteudo [class]="'controle-padding d-flex'">
  <app-logo></app-logo>
  <h2 id="title">Gerar relatórios</h2>
  <section class="gap"></section>
  <app-button
    [btnLabel]="'GERAR RELATÓRIO DIÁRIO'"
    [btnClass]="'button'"
    [btnIcon]="true"
    [btnIconName]="'arrow_downward'"
    [btnIconPosition]="'left'"
    [btnSize]="'lg'"
    [btnColor]="'primary'"
    class="mt"
    (click)="gerarRelatorioDiario()"
  ></app-button>

  <app-button
    [btnLabel]="'GERAR RELATÓRIO DE ALUNOS'"
    [btnClass]="'button'"
    [btnIcon]="true"
    [btnIconName]="'arrow_downward'"
    [btnIconPosition]="'left'"
    [btnSize]="'lg'"
    [btnColor]="'primary'"
    class="mt"
    (click)="gerarRelatorioAlunos()"
  ></app-button>
</app-container-conteudo>
