<app-container-conteudo [class]="'controle-padding d-flex'">
    <app-logo></app-logo>
    <h2 id="title">Consultar Usuário</h2>
    <section class="gap">
        <!-- tamanho máximo pendente, verificar com o danilo -->
        <app-input
            [placeholder]="'CPF ou Número de Matrícula'"
            [tipoEntrada]="'number'"
            [inputSize]="'lg'"
            (inputValueChange) = "cpfHandler($event.toString())"
        >
        </app-input>
        <app-button
            (click)="queryUserEvent()"
            [btnLabel]="'validar usuário'"
            [btnSize]="'lg'"
            [btnColor]="'primary'"
        ></app-button>
    </section>
</app-container-conteudo>

<app-valida-usuario *ngIf="validatedUsed"></app-valida-usuario>
