@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* .frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgb(0 0 0 / 30%);
  overflow: hidden;
  background: #3faf82;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    min-width: 360px;
    box-shadow: none;
    background-color: var(--primary);
    // position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    z-index: 10;
    // justify-content: center;
}

#titulo {
    color: var(--white);
    font-weight: 500;
    margin-left: 70px;
}

.center {
  position: absolute;
  top:  48px;
  left: 64px;
  transform: translate(-50%, -50%);
}

#menu {
  position: absolute;
  opacity: 0;
}

label {
  position: relative;
  cursor: pointer;
  display: block;
  width: 80px;
  height: 52px;
}

label span {
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
  width: 40%;
  height: 4px;
  position: absolute;
  display: block;
  border-radius: 3px;
  transition: background-color 2s ease-in-out;
}

label span:nth-child(1) {
  top: 0;
}

label span:nth-child(2) {
  top: 8px;
}
label span:nth-child(3) {
  top: 16px;
}

#menu:checked + label span:nth-child(1) {
  transform: rotate(45deg);
  transition: top 0.45s, transform 0.35s 0.5s;
  top: 8px;
}

#menu:checked + label span:nth-child(2) {
  top: 8px;
  transform: scale(0%);
  transition: transform 0.35s;
}

#menu:checked + label span:nth-child(3) {
  top: 8px;
  transform: rotate(135deg);
  transition: top 0.45s, transform 0.35s 0.5s;
}

#menu:not(:checked) + label span:nth-child(1) {
  top: 0px;
  transform: rotate(0deg);
  transition:  transform 0.35s, top 0.45s 0.35s;
}

#menu:not(:checked) + label span:nth-child(2) {
  transform: scale(100%);
  transform-origin: center;
  transition: transform 0.35s 0.70s;
}

#menu:not(:checked) + label span:nth-child(3) {
  top: 16px;
  transform: rotate(0deg);
  transition: transform 0.35s, top 0.45s 0.35s;
}

#menu:checked ~ .sidebar-menu {
  transform: translateX(405px);
  transition: transform 1.5s;
}

#menu:not(:checked) ~ .sidebar-menu {
  transform: translateX(-430px); //430
  transition: transform 1.5s;
}

.sidebar-menu {
  position: absolute;
  z-index: 100;
  width: 380px;
  left: -430px; //430
  top: 38px;
  height: 100vh;
  background-color: var(--sidebar-menu);
  border: var(--sidebar-menu-focus) solid 3px;
}

.item-icon {
    // height: 20px;
    color: var(--black);
    margin-right: 10px;
}

.item-card {
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    cursor: pointer;
    flex-direction: row;
    font-size: 18px;
    // justify-content: center;
}

.item-card:hover, .item-card:focus, .item-card:active, .item-card:visited {
  background-color: var(--sidebar-menu-focus);
}

// #menu + label + .center + .menu-hamburguer + .header + .sidebar-menu {
//   background-color: red;
//   color: red;
// } 

.button {
  background-color: var(--primary);
  color: white;
  border: 0;
  margin-right: 1%;
}

.spacer {
  flex: 1 1 auto; 
}