<div class="header header-container">
    <div class="menu-hamburguer">
        <div class="center">
              <input type="checkbox" id="menu" (click)="controleVisualizacaoMenu()">
              <label for="menu" class="">
                  <span class="menu-icon line-1"></span>
                  <span class="menu-icon line-2"></span>
                  <span class="menu-icon line-3"></span>
              </label>
              <div #sidebarMenu class="sidebar-menu">
                <ul id="cards-list">
                    <li class="item-card" *ngFor="let item of itensList">
                        <app-icon [icon]="item.icone" class="item-icon"></app-icon>
                        {{ item.titulo }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <span id="titulo">RU+</span>   
</div>



  
