<mat-card class="main-card">
  <mat-card-title> Editar funcionário </mat-card-title>
  <form action="">
    <mat-form-field>
      <input
        matInput
        placeholder="Nome"
        [(ngModel)]="funcionario.nome"
        name="nome"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Username"
        [(ngModel)]="funcionario.username"
        name="username"
      />
    </mat-form-field>
    <mat-form-field>
      <!-- <input matInput placeholder="senha" [(ngModel)]="funcionario.senha" name="senha"> -->
      <input
        matInput
        placeholder="Senha"
        [type]="hide ? 'password' : 'text'"
        [(ngModel)]="funcionario.senha"
        name="senha"
        required
      />
      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? "visibility_off" : "visibility"
      }}</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Digite novamente sua senha"
        [(ngModel)]="senhaRepetida"
        name="senharepetir"
        [type]="hide ? 'password' : 'text'"
        required
      />
      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? "visibility_off" : "visibility"
      }}</mat-icon>
    </mat-form-field>
  </form>
  <div>
    <button mat-raised-button (click)="editarFuncionario()" color="primary">
      Salvar
    </button>

    <button mat-raised-button (click)="cancel()" color="warn">Cancelar</button>
  </div>
</mat-card>
