button {
    display: flex;
    // align-items: center;
    justify-content: center;
    gap: 0.2rem;
    // font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    // line-height: 1.27rem;
    padding: 0.5rem 1rem;
    border-color: transparent;
    border-radius: 0.15rem;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s;
  }
  
  .sm {
    // font-size: 0.75rem;
    line-height: 0.8rem !important;
    height: 2.25rem;
    // height: 2rem;
  }
  
  .md {
    font-size: 0.875rem;
    min-width: 240px;
    height: 2.25rem;
  }
  
  .lg {
    font-size: 1rem;
    min-width: 383px;
    height: 2.6rem;
  }
  
  .default {
    color: var(--white);
    background-color: var(--default);
  }

  .onlyIcon {
    background-color: transparent;
    color: var(--white);
    font-size: 30px;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
  }

  .onlyIcon:hover, .onlyIcon:focus {
    filter: brightness(0.7);
    cursor: pointer;
    position: relative;
  }
  
  .primary {
    background-color: var(--primary);
    color: var(--white);
  }
  
  .secondary {
    background-color: var(--secondary);
    color: var(--white);
  }
  
  .danger {
    background-color: var(--danger);
    color: var(--white);
  }
  
  .default:hover,
  .default:focus,
  .primary:hover,
  .primary:focus,
  .secondary:hover,
  .secondary:focus,
  .danger:hover,
  .danger:focus,
  .outline:hover,
  .outline:focus {
    filter: brightness(0.7);
    position: relative;
    cursor: pointer;
  }
  
//   .box-shadow {
//     box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
//   }
  
  .outline {
    color: var(--primary);
    border: 1px solid var(--primary);
    background-color: var(--white);
  }
  
  .text {
    color: var(--primary);
  }
  
//   .outline:hover,
//   .outline:focus,
  .text:hover,
  .text:focus {
    background-color: var(--outline-focus);
  }
  
  .button:disabled,
  .outline:disabled {
    background-color: var(--default);
    color: var(--text-disabled);
    border: none;
    cursor: not-allowed;
  }
  
  .text:disabled {
    background-color: transparent;
    color: var(--text-disabled);
    cursor: not-allowed;
  }
  
  .reverse-items {
    flex-direction: row-reverse;
  }