<app-container-conteudo [class]="'controle-padding d-flex'">
  <app-logo></app-logo>
  <h2 id="title">Enviar base de dados</h2>
  <section class="gap">
    <form action="">
      <input
        type="file"
        class="file-upload"
        accept=".csv"
        (onchange)="setarBase('variable')"
      />
      <!-- tamanho máximo pendente, verificar com o danilo -->
    </form>
    <app-button
      [btnLabel]="'enviar base de dados'"
      [btnClass]="'button'"
      [btnIcon]="true"
      [btnIconName]="'send'"
      [btnIconPosition]="'left'"
      [btnSize]="'lg'"
      [btnColor]="'primary'"
      (click)="enviarBase()"
    ></app-button>
  </section>
</app-container-conteudo>
