:root {
    --primary: #4B84D9;
    // --primary-focus: #0039cb;
  
    --secondary: #16123F;
    --secondary-focus: #1c313a;
  
    --danger: #d32f2f;
    --text-disabled: #9e9e9e;

    --white-gray:  #E8E6E6;
  
    --white: #ffffff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    @media (max-width: 1080px) {
      font-size: 93.75%;
    }
    @media (max-width: 720px) {
      font-size: 87.5%;
    }
  }

  body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}